/* font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   font-family: Poppins;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*  */
/* CSS Starts Here */
/*  */

/* variables */
:root {
   --text-main: #ffffff;
   --font-small: 17px;
}

body {
   font-family: "Poppins";
   margin: 0 auto;
   width: 1440px;
   position: relative;
   top: 0;
   left: 0;
}

#main-container {
   padding: 0 135px;
   color: var(--text-main);
   background: #1b004e;
   margin: 0 auto;
   background-image: url(images/header-img.svg);
}

#top-container {
   height: 700px;
   flex-shrink: 0;
   /* background: #1b004e; */
}

#nav-wrap {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* logo */
#logo-wrap {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   gap: 1px;
   margin-top: 25.43px;
}

.logo {
   background-image: url("icons/crypto-main-icon.svg");
   width: 35.338px;
   height: 40px;
   /* flex-shrink: 0; */
}

.logo-text {
   color: var(--text-main);

   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px; /* 100% */
}

#nav-bar {
   margin: 42px 172.5px 0 171px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

a {
   text-decoration: none;
   color: black;
   color: var(--text-main);
   font-size: var(--font-small);
   font-style: normal;
   font-weight: 400;
   /* line-height: 24px; 141.176% */
}

/* buttons */
.btn-1,
.btn-2 {
   color: var(--text-main);
   font-size: var(--font-small);
   font-family: poppins;
   width: 152px;
   height: 47px;
   border-radius: 50px;
   border: 2px solid #eb5757;
   background-color: transparent;
}

.btn-1 {
   margin-top: 31px;
}

.btn-2 {
   width: 191px;
   background: #eb5757;
}

/* top contex wrap */

#top-context-wrap {
   /* border: 5px solid rgb(151, 151, 54); */
   display: flex;
}

/* left context wrap */
#left-context-wrap {
   /* border: 3px solid red; */
   flex: 1;
}
.illustration-1 {
   background-image: url("images/illustration.svg");
   width: 76.009px;
   height: 116px;
   position: absolute;
   top: 106px;
}

/* right context wrap */
#right-context-wrap {
   width: 614px;
   height: 474.32px;
   flex-shrink: 0;
   /* border: 3px solid green; */
   flex: 1;
   background: url(icons/crypto-icon-big.svg);
}
/* main text */
.main-text {
   margin-top: 109.18px;
   width: 665px;
   font-size: 60px;
   font-weight: 700;
   line-height: normal;
}
/* sub text */
.text {
   width: 500px;
   color: var(--text-main);
   font-size: var(--font-small);
   font-weight: 400;
   line-height: 28px; /* 164.706% */
}

/* scroll btn icon */
.scroll-btn {
   background-image: url("icons/scroll-btn-icon.svg");
   width: 20px;
   height: 50px;
   position: absolute;
   top: 624.59px;
   left: 710px;
   cursor: pointer;
}
